/* Header Css */

a:link{
    color:#292725;
    text-decoration: none;
}

a:hover, a:focus{
    color:rgb(239, 176, 132);
} 

a:visited{

    text-decoration: underline;
}

#globalNav li{

    list-style-type: none;
    margin-right: 20px;
}

#globalNav ul{
 display:flex;
 justify-content: flex-end;
 flex-wrap: wrap;
}