#rootOne{
    background-color:#b6d1b0;
    border-radius: 5px;
}

.cardEntry{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient:vertical;
    /* this gives ellipsis(...) */
}



.card{
    margin:10px;
}

#cardsContainer{
display: block;
padding: 30px 10px 30px 20px;
/* margin-top: 5pxpx; */

}

#pageIntro{
    border-radius: 10px;
     background-color:;
     border:3px solid #1e4316; 
}

.card{
    
        border-radius: 10px;
        margin-right: 20px;
        padding: 20px;
}

.card:nth-child(3){
    background-color:#deb35d;
}

.card:nth-child(2){
background-color: #80444e;
}

.card:first-child{
    background-color: #eee1c7;

}