body{
background-color: rgba(200, 198, 197, 0.871);
color:black;


}
#homeHeader{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 2px solid black; */
    
}

.allHeader {
 
    
  padding: 2px; 
 background-color: rgb(188, 186, 186)
 ;

}

h1{
     display:flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* border:2px dotted black; */
}

#homeNav{
    justify-content: flex-end;
    align-items: end;
    /* border: 2px double black; */
    

}

#homeNav > ul{
    display: flex; 
    justify-content: flex-start;
    /* padding: 10px; */
}

#homeNav li{

    list-style-type: none;
    margin-right: 10px;
    /* font-weight: bold; */
    
}

a:link{
    color:black;
    text-decoration: none;
}

a:hover, a:focus{
    color:chocolate;
} 

a:visited{
    color:black;
    text-decoration: underline;
}



/* Intro css */

#pageIntro {
margin-left:3rem;
/* justify-self: center; */

}

#pageIntro > h2 {
    font-size: xx-large;
    font-weight: bold;
}

#pageIntro > p{
    font-size:large;
    display:flex;
    flex-wrap:wrap;
    /* border: 2px solid black; */
    width:35%;
}



/* Cards */

#cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
    justify-self:center;
     gap:1rem;
     width: 60%;
    
}

#cards > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* border: 2px solid black; */
}

.card1{
     grid-column: span 2;
     

}

.card2{
    /* grid-row: span 3; */

}

.card3{
    /* grid-column: span 4; */
    
    
}

/* footer */
#footer{
    display: flex;
    justify-content: center;
    
}