#rootOne{
     background-image: url("/images/brown-fabric-texture.jpg");
    background-size:cover;
    color: #f7da8f9f; 

    /* background: radial-gradient(circle, rgb(71, 3, 3),rgb(3, 3, 71),rgb(1, 67, 1)); */
}